{
    "presets": [],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "core": "./src/core",
                    "components": "./src/components",
                    "containers": "./src/containers",
                    "store": "./src/store",
                    "hooks": "./src/core/hooks",
                    "utils": "./src/core/utils"
                }
            }
        ]
    ],
    "compact": false,
    "comments": false
}
