{
    "presets": [],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "core": "./src/core",
                    "schema": "./src/schema",
                    "utils": "./src/core/utils"
                }
            }
        ]
    ],
    "compact": false,
    "comments": false
}
