/* leny/triton
 *
 * /src/styles/styles.css
 */

body {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#settings {
    flex: none;
}

#graph {
    flex: 1 0 auto;
}
